
.App {
	width: 80%;
	margin: 0 auto;
	padding: 50px 0;
}

.project {
  margin-top: 15px;
}

.project-buttons {
	margin-top: 15px;
}

.topheader {
  height: 400px;
  background-image: url('https://images.pexels.com/photos/955450/pexels-photo-955450.jpeg');
  background-position: center;
  background-size: cover;
}

.projecttopheader {
  height: 800px;
  background-image: url('https://images.pexels.com/photos/955450/pexels-photo-955450.jpeg');
  background-position: center;
  background-size: cover;
}

.form {
	width: 25%;
	margin: 0 auto;
	padding: 100px 0;
}

#main-page-title {
  /* font-family: sans-serif; */
	margin: 0 auto;
  color: black;
  font-size: 50px;
}

.ui.menu {
	margin: 0;
}

.ui.icon.input input {
	width: 100%;
}

.ui.large.input {
  width: 100%;
}

.container {
	display: grid;
	grid-template-columns: 2fr 2fr;
}



/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
